.card{
  background-color: rgb(240, 237, 236);
  max-width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: cursive;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.card img{
  width: 150px;
  border-radius: 5px;
}

.card :hover{
 cursor: pointer;
}